<!DOCTYPE html>
<html>
<head>
    <title>Thêm đề thi</title>
</head>
<body>

<h1>📚 Thêm đề thi</h1>

<form method="POST" enctype="multipart/form-data">
<input
    type="file"
    name="pdf"
    accept=".pdf"
>

    <p>Tên đề</p>
    <input type="text" name="title" required>

    <p>Năm</p>
    <input type="number" name="year" required>

    <p>Môn</p>
    <input type="text" name="subject" required>

    <p>Nội dung</p>
    <textarea name="content" rows="10" cols="50"></textarea>

    <p>Trường</p>    

    <input
        type="text"
        name="school"
        required
    >

    <br><br>

    <button type="submit">
        Đăng đề
    </button>

</form>

</body>
</html>
