<!DOCTYPE html>
<html>
<head>
    <title>Creator Dashboard</title>
</head>
<body>

<h1>👑 Creator Dashboard</h1>

<h2>📊 Thống kê</h2>

<p>📚 Tổng số đề: {{ total_exams }}</p>

<p>📥 Đề chờ duyệt: {{ pending_exams }}</p>

<p>💬 Feedback chưa xử lý: {{ pending_feedbacks }}</p>

<p>👥 Admin: {{ total_admins }}</p>

<p>
🔥 Đề hot nhất:
{{ top_exam[0] }}
(👁️ {{ top_exam[1] }})
</p>


<hr>

<p>
    <a href="/pending">
        📥 Xem đề chờ duyệt
    </a>
</p>

<p>
    <a href="/admins">
        👥 Quản lý Admin
    </a>
</p>

<p>
    <a href="/feedbacks">💬 Xem Feedback</a>
</p>

<p>
    <a href="/add_exam">📚 Đăng đề thi</a>
</p>

<p>Chào Creator!</p>

<h2>Tạo Admin mới</h2>

<form method="POST">

    <p>Tên đăng nhập Admin</p>
    <input type="text" name="username" required>

    <p>Mật khẩu Admin</p>
    <input type="password" name="password" required>

    <br><br>

    <button type="submit">
        Tạo Admin
    </button>

</form>

</body>
</html>
