<!DOCTYPE html>
<html>
<head>
    <title>{{ exam[1] }}</title>
</head>
<body>

<h1>{{ exam[1] }}</h1>

<p>Năm: {{ exam[2] }}</p>

<p>Môn: {{ exam[3] }}</p>

<p>👁️ {{ exam[5] }} lượt xem</p>

{% if exam[6] %}

<p>
    <a
        href="{{ url_for('static', filename='uploads/' + exam[6]) }}"
        download
    >
        📥 Tải PDF
    </a>
</p>

{% endif %}

{% if exam[6] %}

<h3>📄 Đề gốc</h3>

<iframe
    src="{{ url_for('static', filename='uploads/' + exam[6]) }}"
    width="100%"
    height="900"
    style="border:1px solid #ccc;"
>
</iframe>

{% endif %}

<hr>

<pre>{{ exam[4] }}</pre>
<br>

<a href="/edit_exam/{{ exam[0] }}">
    ✏️ Sửa đề
</a>

<br><br>
<a href="/delete_exam/{{ exam[0] }}">
    🗑️ Xóa đề
</a>

</body>
</html>
