<!DOCTYPE html>
<html>
<head>
    <title>Danh sách đề thi</title>
</head>
<body>

<h1>📚 Danh sách đề thi</h1>
<form method="GET">

    <input
        type="text"
        name="q"
        placeholder="Tìm đề..."
    >
    <select name="school">

        <option value="">
            Tất cả trường
        </option>

        {% for school in schools %}

        <option value="{{ school[0] }}">
            {{ school[0] }}
        </option>

        {% endfor %}

    </select>

    <button type="submit">
        Tìm kiếm
    </button>

</form>

<br>

{% for exam in exams %}

<p>
    <a href="/exam/{{ exam[0] }}">
        {{ exam[1] }}
    </a>

    -
    {{ exam[2] }}
    -
    {{ exam[3] }}

    <a href="/edit_exam/{{ exam[0] }}">
        ✏️ Sửa
    </a>
</p>

{% endfor %}

</body>
</html>
